.about {
  padding: 80px 0;

  &__container {
    @include lg {
      display: grid;
      grid-template-areas:
        "title title"
        "slider content";
      grid-template-columns: 48% 1fr;
      gap: 40px 20px;
    }

    @include xl {
      grid-template-areas:
        "slider title"
        "slider content";
      grid-template-rows: min-content 1fr;
      gap: 40px 30px;
    }
  }

  &__title {
    margin-bottom: 24px;
    font-weight: 1000;
    font-size: 32px;
    line-height: 1;
    text-transform: uppercase;
    color: $second;

    @include lg {
      grid-area: title;
      margin-bottom: 0;
      font-size: 52px;
    }
  }

  &__content {
    margin-bottom: 13px;
    padding-bottom: 27px;
    background-image: url("../img/paw.svg");
    background-position: center bottom;
    background-size: contain;
    background-repeat: no-repeat;

    @include md {
      display: grid;
      grid-template-areas:
        "description list"
        "link .";
      grid-template-columns: 1fr min-content;
      background-position: right bottom;
      gap: 24px 92px;
    }

    @include lg {
      grid-area: content;
      grid-template: min-content / 1fr;
      grid-template-areas:
        "description"
        "list"
        "link";
      margin-bottom: 0;
      padding-bottom: 0;
      background-position: center;
      gap: 40px;
    }

    @include xl {
      gap: 60px;
    }

    @include xxl {
      height: min-content;
      min-height: 600px;
    }
  }

  &__description {
    margin-bottom: 40px;

    @include md {
      grid-area: description;
      margin-bottom: 0;
    }
  }

  &__link {
    margin-bottom: 40px;

    @include md {
      justify-self: start;
      grid-area: link;
      margin-bottom: 0;
    }

    @include lg {
      align-self: end;
    }
  }

  &__count-list {
    display: grid;
    grid-template-columns: repeat(2, 120px);
    font-weight: 1000;
    line-height: 1;
    color: $second;
    gap: 20px;

    @include md {
      grid-area: list;
    }

    @include lg {
      grid-template-columns: repeat(2, 200px);
    }
  }

  &__count {
    margin-bottom: 16px;
    font-size: 40px;

    @include lg {
      font-size: 52px;
    }
  }

  &__picture {
    @include lg {
      grid-area: slider;
    }
  }

  &__image {
    border-radius: 16px;
  }

  @include lg {
    padding: 100px 0;
  }
}
