.footer {
  padding-top: 20px;
  padding-bottom: 30px;

  &__container {
    @include sm {
      display: grid;
      grid-template-columns: 1fr max-content;
      gap: 40px;
    }

    @include lg {
      gap: 72px;
    }
  }

  &__logo {
    margin-bottom: 32px;
    width: 200px;

    @include sm {
      margin-bottom: 0;
    }

    @include lg {
      width: 360px;
    }
  }

  &__social-list {
    display: flex;
    margin-bottom: 52px;
    gap: 16px;

    @include sm {
      margin-bottom: 0;
    }

    @include lg {
      gap: 36px;
    }
  }

  &__social-link {
    display: block;
    width: 36px;

    @include lg {
      width: 50px;
    }
  }

  &__developers {
    margin-bottom: 52px;
    line-height: 1;

    @include sm {
      order: 2;
      margin-bottom: 0;
    }
  }

  &__developer {
    margin-bottom: 19px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
