.link-main{
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  gap: 4px;
  line-height: 1;
  font-size: 16px;
  font-weight: 1000;
  color: $back;
  background-color: $second;
  border-radius: 80px;

  &::after{
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background: url('../img/arrow-right.svg') center/contain no-repeat;
  }

  @include lg{
    padding: 17px 32px;
    font-size: 20px;
    gap: 10px;
  }
}
