.location {
  position: relative;

  &__list {
    position: relative;
    z-index: 10;

    @include lg {
      display: flex;
      justify-content: space-between;
      min-height: 552px;
      background-image: linear-gradient(0deg, rgb(0 0 0 / 40%), rgb(0 0 0 / 40%));
    }

    @include xl {
      min-height: 780px;
    }

    @include xxl {
      margin: 0 auto;
      min-height: 100vh;
      max-width: 2560px;
    }
  }

  &__item {
    position: relative;
    padding: 50px 16px;
    min-height: 273px;
    background-image: linear-gradient(0deg, rgb(0 0 0 / 40%), rgb(0 0 0 / 40%));

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      background-image: none;
      background-position: center;
      background-size: cover;
      inset: 0;

      @include lg {
        background-image: none;
      }
    }

    &:not(:last-child)::after {
      content: "";
      position: absolute;
      right: 50%;
      bottom: 0;
      z-index: 5;
      display: block;
      width: calc(100% - 32px);
      height: 0.5px;
      background-color: $second;
      transform: translate(50%, 0.5px);

      @include lg {
        right: 0;
        bottom: 50%;
        width: 0.5px;
        height: calc(100% - 186px);
        transform: translate(0.5px, 50%);
      }

      @include xl {
        height: calc(100% - 200px);
      }
    }

    &_mammals::before {
      background-image: url("../img/location/mammals.jpg");

      @include sm {
        background-image: url("../img/location/mammals_tablet.jpg");
      }
    }

    &_birds::before {
      background-image: url("../img/location/birds.jpg");

      @include sm {
        background-image: url("../img/location/birds_tablet.jpg");
      }
    }

    &_reptiles::before {
      background-image: url("../img/location/reptiles.jpg");

      @include sm {
        background-image: url("../img/location/reptiles_tablet.jpg");
      }
    }

    &_water::before {
      background-image: url("../img/location/water.jpg");

      @include sm {
        background-image: url("../img/location/water_tablet.jpg");
      }
    }

    &_insects::before {
      background-image: url("../img/location/insects.jpg");

      @include sm {
        background-image: url("../img/location/insects_tablet.jpg");
      }
    }

    @include sm {
      padding-right: 32px;
      padding-left: 32px;
      min-height: 200px;
    }

    @include lg {
      flex: 0 0 calc(100% / 5);
      padding: 0;
      background-image: none;
    }
  }

  &__title {
    margin-bottom: 16px;
    font-weight: 1000;
    font-size: 20px;
    line-height: 1;
    white-space: nowrap;
    text-transform: uppercase;
    color: $back;

    @include lg {
      position: absolute;
      left: 50%;
      top: 50%;
      margin-bottom: 0;
      color: $second;
      transform: rotate(-90deg) translate(-50%, -50%);
      transform-origin: top left;
    }

    @include xl {
      font-size: 32px;
    }
  }

  &__description {
    color: $second;

    @include lg {
      display: none;
    }
  }

  &__video-bg {
    display: none;

    @include lg {
      display: block;
    }
  }
}
