.location {
  position: relative;

  &__list {
    // position: relative;
    // z-index: 10;

    @include lg {
      display: flex;
      min-height: 552px;
      justify-content: space-between;
      background-image: linear-gradient(
        0deg,
        rgb(0 0 0 / 40%),
        rgb(0 0 0 / 40%)
      );
    }

    @include xl {
      min-height: 780px;
    }

    @include xxl {
      min-height: 100vh;
      max-width: 2560px;
      margin: 0 auto;
    }
  }

  &__item {
    position: relative;
    padding: 50px 16px;
    min-height: 273px;
    background-image: linear-gradient(0deg, rgb(0 0 0 / 40%), rgb(0 0 0 / 40%));

    @include sm {
      padding-right: 32px;
      padding-left: 32px;
      min-height: 200px;
    }

    @include lg {
      background-image: none;
      flex: 0 0 calc(100% / 5);
      padding: 0;
    }

    &:not(:last-child)::after {
      content: "";
      position: absolute;
      z-index: 5;
      display: block;
      bottom: 0;
      right: 50%;
      height: 0.5px;
      width: calc(100% - 32px);
      background-color: $second;
      transform: translate(50%, 0.5px);

      @include lg {
        bottom: 50%;
        right: 0;
        transform: translate(0.5px, 50%);
        height: calc(100% - 186px);
        width: 0.5px;
      }

      @include xl {
        height: calc(100% - 200px);
      }
    }

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      inset: 0;
      background-size: cover;
      background-position: center;
      // background-image: none;

      @include lg {
        background-image: none;
      }
    }

    &_mammals::before {
      background-image: image-set(
        url("../img/location/mammals@2x.webp") 2x,
        url("../img/location/mammals@1x.webp") 1x,
        url("../img/location/mammals@2x.jpg") 2x,
        url("../img/location/mammals@1x.jpg") 1x
      );

      @include sm {
        background-image: image-set(
          url("../img/location/mammals_tablet@2x.webp") 2x,
          url("../img/location/mammals_tablet@1x.webp") 1x,
          url("../img/location/mammals_tablet@2x.jpg") 2x,
          url("../img/location/mammals_tablet@1x.jpg") 1x
        );
      }

      @include lg {
        background-image: image-set(
          url("../img/location/mammals_laptop@2x.webp") 2x,
          url("../img/location/mammals_laptop@1x.webp") 1x,
          url("../img/location/mammals_laptop@2x.jpg") 2x,
          url("../img/location/mammals_laptop@1x.jpg") 1x
        );
      }
    }

    &_birds::before {
      background-image: image-set(
        url("../img/location/birds@2x.webp") 2x,
        url("../img/location/birds@1x.webp") 1x,
        url("../img/location/birds@2x.jpg") 2x,
        url("../img/location/birds@1x.jpg") 1x
      );

      @include sm {
        background-image: image-set(
          url("../img/location/birds_tablet@2x.webp") 2x,
          url("../img/location/birds_tablet@1x.webp") 1x,
          url("../img/location/birds_tablet@2x.jpg") 2x,
          url("../img/location/birds_tablet@1x.jpg") 1x
        );
      }

      @include lg {
        background-image: image-set(
          url("../img/location/birds_laptop@2x.webp") 2x,
          url("../img/location/birds_laptop@1x.webp") 1x,
          url("../img/location/birds_laptop@2x.jpg") 2x,
          url("../img/location/birds_laptop@1x.jpg") 1x
        );
      }
    }

    &_reptiles::before {
      background-image: image-set(
        url("../img/location/reptiles@2x.webp") 2x,
        url("../img/location/reptiles@1x.webp") 1x,
        url("../img/location/reptiles@2x.jpg") 2x,
        url("../img/location/reptiles@1x.jpg") 1x
      );

      @include sm {
        background-image: image-set(
          url("../img/location/reptiles_tablet@2x.webp") 2x,
          url("../img/location/reptiles_tablet@1x.webp") 1x,
          url("../img/location/reptiles_tablet@2x.jpg") 2x,
          url("../img/location/reptiles_tablet@1x.jpg") 1x
        );
      }

      @include lg {
        background-image: image-set(
          url("../img/location/reptiles_laptop@2x.webp") 2x,
          url("../img/location/reptiles_laptop@1x.webp") 1x,
          url("../img/location/reptiles_laptop@2x.jpg") 2x,
          url("../img/location/reptiles_laptop@1x.jpg") 1x
        );
      }
    }

    &_water::before {
      background-image: image-set(
        url("../img/location/water@2x.webp") 2x,
        url("../img/location/water@1x.webp") 1x,
        url("../img/location/water@2x.jpg") 2x,
        url("../img/location/water@1x.jpg") 1x
      );

      @include sm {
        background-image: image-set(
          url("../img/location/water_tablet@2x.webp") 2x,
          url("../img/location/water_tablet@1x.webp") 1x,
          url("../img/location/water_tablet@2x.jpg") 2x,
          url("../img/location/water_tablet@1x.jpg") 1x
        );
      }

      @include lg {
        background-image: image-set(
          url("../img/location/water_laptop@2x.webp") 2x,
          url("../img/location/water_laptop@1x.webp") 1x,
          url("../img/location/water_laptop@2x.jpg") 2x,
          url("../img/location/water_laptop@1x.jpg") 1x
        );
      }
    }

    &_insects::before {
      background-image: image-set(
        url("../img/location/insects@2x.webp") 2x,
        url("../img/location/insects@1x.webp") 1x,
        url("../img/location/insects@2x.jpg") 2x,
        url("../img/location/insects@1x.jpg") 1x
      );

      @include sm {
        background-image: image-set(
          url("../img/location/insects_tablet@2x.webp") 2x,
          url("../img/location/insects_tablet@1x.webp") 1x,
          url("../img/location/insects_tablet@2x.jpg") 2x,
          url("../img/location/insects_tablet@1x.jpg") 1x
        );
      }

      @include lg {
        background-image: image-set(
          url("../img/location/insects_laptop@2x.webp") 2x,
          url("../img/location/insects_laptop@1x.webp") 1x,
          url("../img/location/insects_laptop@2x.jpg") 2x,
          url("../img/location/insects_laptop@1x.jpg") 1x
        );
      }
    }
  }

  &__title {
    font-weight: 1000;
    font-size: 20px;
    line-height: 1;
    text-transform: uppercase;
    color: $back;
    margin-bottom: 16px;
    white-space: nowrap;

    @include lg {
      position: absolute;
      margin-bottom: 0;
      top: 50%;
      left: 50%;
      transform: rotate(-90deg) translate(-50%, -50%);
      transform-origin: top left;
      color: $second;
    }

    @include xl {
      font-size: 32px;
    }
  }

  &__description {
    color: $second;

    @include lg {
      display: none;
    }
  }

  &__video-bg {
    display: none;

    @include lg {
      display: block;
    }
  }
}
