<section class="about">
  <div class="container about__container">
    <h2 class="about__title">О компании</h2>

    <div class="about__content">
      <p class="about__description">
        Наш зоосад расположен в живописном месте и занимает большую территорию. Здесь содержатся различные виды животных со всего мира, начиная от крупных хищников, таких как львы и тигры, до разнообразных птиц, рыб и насекомых.
      </p>

      <a class="about__link" href="#about">Подробнее</a>

      <ul class="about__count-list">
        <li class="about__count-item">
          <p class="about__count">
            500+
          </p>
          <p class="about__count-desc">
            Животных
          </p>
        </li>
        <li class="about__count-item">
          <p class="about__count">
            200+
          </p>
          <p class="about__count-desc">
            Сотрудников
          </p>
        </li>
      </ul>
    </div>

    <div class="about__picture">
      <div class="about__slider swiper">
        <ul class="about__image-list swiper-wrapper">
          <li class="about__image-item swiper-slide">
            <picture class="about__image-wrapper">
              <source srcset="img/slides/leo_desktop.webp" media="(min-width: 1280px)" type="image/webp">
              <source srcset="img/slides/leo_desktop.jpg" media="(min-width: 1280px)">
              <source srcset="img/slides/leo_laptop.webp" media="(min-width: 1024px)" type="image/webp">
              <source srcset="img/slides/leo_laptop.jpg" media="(min-width: 1024px)">
              <source srcset="img/slides/leo_tablet.webp" media="(min-width: 768px)" type="image/webp">
              <source srcset="img/slides/leo_tablet.jpg" media="(min-width: 768px)">
              <source srcset="img/slides/leo.webp" type="image/webp">
              <img src="img/slides/leo.jpg" alt="Пара львов" loading="lazy">
            </picture>
          </li>
          <li class="about__image-item swiper-slide">
            <picture class="about__image-wrapper">
              <source srcset="img/slides/parrots_desktop.webp" media="(min-width: 1280px)" type="image/webp">
              <source srcset="img/slides/parrots_desktop.jpg" media="(min-width: 1280px)">
              <source srcset="img/slides/parrots_laptop.webp" media="(min-width: 1024px)" type="image/webp">
              <source srcset="img/slides/parrots_laptop.jpg" media="(min-width: 1024px)">
              <source srcset="img/slides/parrots_tablet.webp" media="(min-width: 768px)" type="image/webp">
              <source srcset="img/slides/parrots_tablet.jpg" media="(min-width: 768px)">
              <source srcset="img/slides/parrots.webp" type="image/webp">
              <img src="img/slides/parrots.jpg" alt="Группа попугаев" loading="lazy">
            </picture>
          </li>
          <li class="about__image-item swiper-slide">
            <picture class="about__image-wrapper">
              <source srcset="img/slides/fulgens_desktop.webp" media="(min-width: 1280px)" type="image/webp">
              <source srcset="img/slides/fulgens_desktop.jpg" media="(min-width: 1280px)">
              <source srcset="img/slides/fulgens_laptop.webp" media="(min-width: 1024px)" type="image/webp">
              <source srcset="img/slides/fulgens_laptop.jpg" media="(min-width: 1024px)">
              <source srcset="img/slides/fulgens_tablet.webp" media="(min-width: 768px)" type="image/webp">
              <source srcset="img/slides/fulgens_tablet.jpg" media="(min-width: 768px)">
              <source srcset="img/slides/fulgens.webp" type="image/webp">
              <img src="img/slides/fulgens.jpg" alt="Красная панда" loading="lazy">
            </picture>
          </li>
          <li class="about__image-item swiper-slide">
            <picture class="about__image-wrapper">
              <source srcset="img/slides/giraffe_desktop.webp" media="(min-width: 1280px)" type="image/webp">
              <source srcset="img/slides/giraffe_desktop.jpg" media="(min-width: 1280px)">
              <source srcset="img/slides/giraffe_laptop.webp" media="(min-width: 1024px)" type="image/webp">
              <source srcset="img/slides/giraffe_laptop.jpg" media="(min-width: 1024px)">
              <source srcset="img/slides/giraffe_tablet.webp" media="(min-width: 768px)" type="image/webp">
              <source srcset="img/slides/giraffe_tablet.jpg" media="(min-width: 768px)">
              <source srcset="img/slides/giraffe.webp" type="image/webp">
              <img src="img/slides/giraffe.jpg" alt="Голова жирафа" loading="lazy">
            </picture>
          </li>
        </ul>
        <div class="about__slider-pagination swiper-pagination"></div>
      </div>
    </div>

  </div>
</section>
