<section class="career">
  <div class="container career__container">
      <h2 class="career__title">Карьера у нас</h2>

      <div class="career__content">
        <p class="career__description">
          Карьера в компании &laquo;Pretty Paw&raquo; может предоставить много интересных и перспективных возможностей для людей, увлеченных животными и желающих развиваться в этой области.
        </p>

        <a class="career__link link-main" href="#career">Подробнее</a>
      </div>

      <div class="career__slider swiper">
        <ul class="career__image-list swiper-wrapper">
          <li class="career__image-item swiper-slide">
            <picture class="career__image-wrapper">
              <source srcset="img/slides_career/parrots2_xxl.webp" type="image/webp" media="(min-width: 1440px)">
              <source srcset="img/slides_career/parrots2_xxl.jpg" media="(min-width: 1440px)">
              <source srcset="img/slides_career/parrots2.webp" type="image/webp">
              <img class="career__image" src="img/slides_career/parrots2.jpg" alt="попугаи" loading="lazy">
            </picture>
          </li>

          <li class="career__image-item swiper-slide">
            <picture class="career__image-wrapper">
              <source srcset="img/slides_career/giraffe2_xxl.webp" type="image/webp" media="(min-width: 1440px)">
              <source srcset="img/slides_career/giraffe2_xxl.jpg" media="(min-width: 1440px)">
              <source srcset="img/slides_career/giraffe2.webp" type="image/webp">
              <img class="career__image" src="img/slides_career/giraffe2.jpg" alt="жираф" loading="lazy">
            </picture>
          </li>

          <li class="career__image-item swiper-slide">
            <picture class="career__image-wrapper">
              <source srcset="img/slides_career/giraffes_xxl.webp" type="image/webp" media="(min-width: 1440px)">
              <source srcset="img/slides_career/giraffes_xxl.jpg" media="(min-width: 1440px)">
              <source srcset="img/slides_career/giraffes.webp" type="image/webp">
              <img class="career__image" src="img/slides_career/giraffes.jpg" alt="жирафы" loading="lazy">
            </picture>
          </li>

          <li class="career__image-item swiper-slide">
            <picture class="career__image-wrapper">
              <source srcset="img/slides_career/leo2_xxl.webp" type="image/webp" media="(min-width: 1440px)">
              <source srcset="img/slides_career/leo2_xxl.jpg" media="(min-width: 1440px)">
              <source srcset="img/slides_career/leo2.webp" type="image/webp">
              <img class="career__image" src="img/slides_career/leo2.jpg" alt="львы" loading="lazy">
            </picture>
          </li>

          <li class="career__image-item swiper-slide">
            <picture class="career__image-wrapper">
              <source srcset="img/slides_career/meerkat_xxl.webp" type="image/webp" media="(min-width: 1440px)">
              <source srcset="img/slides_career/meerkat_xxl.jpg" media="(min-width: 1440px)">
              <source srcset="img/slides_career/meerkat.webp" type="image/webp">
              <img class="career__image" src="img/slides_career/meerkat.jpg" alt="суррикаты" loading="lazy">
            </picture>
          </li>

          <li class="career__image-item swiper-slide">
            <picture class="career__image-wrapper">
              <source srcset="img/slides_career/flamingos_xxl.webp" type="image/webp" media="(min-width: 1440px)">
              <source srcset="img/slides_career/flamingos_xxl.jpg" media="(min-width: 1440px)">
              <source srcset="img/slides_career/flamingos.webp" type="image/webp">
              <img class="career__image" src="img/slides_career/flamingos.jpg" alt="фламинго" loading="lazy">
            </picture>
          </li>

          <li class="career__image-item swiper-slide">
            <picture class="career__image-wrapper">
              <source srcset="img/slides_career/zebra_xxl.webp" type="image/webp" media="(min-width: 1440px)">
              <source srcset="img/slides_career/zebra_xxl.jpg" media="(min-width: 1440px)">
              <source srcset="img/slides_career/zebra.webp" type="image/webp">
              <img class="career__image" src="img/slides_career/zebra.jpg" alt="зебра" loading="lazy">
            </picture>
          </li>

          <li class="career__image-item swiper-slide">
            <picture class="career__image-wrapper">
              <source srcset="img/slides_career/elephant_xxl.webp" type="image/webp" media="(min-width: 1440px)">
              <source srcset="img/slides_career/elephant_xxl.jpg" media="(min-width: 1440px)">
              <source srcset="img/slides_career/elephant.webp" type="image/webp">
              <img class="career__image" src="img/slides_career/elephant.jpg" alt="слон" loading="lazy">
            </picture>
          </li>
        </ul>
      </div>
  </div>
</section>
