<section class="career">
  <div class="container career__container">
      <h2 class="career__title">Карьера у нас</h2>

      <div class="career__content">
        <p class="career__description">
          Карьера в компании &laquo;Зоосад&raquo; может предоставить много интересных и перспективных возможностей для людей, увлеченных животными и желающих развиваться в этой области.
        </p>

        <a class="career__link" href="#career">Подробнее</a>
      </div>

      <div class="career__picture">
        <div class="career__slider swiper">
          <ul class="career__image-list swiper-wrapper">
            <li class="career__image-item swiper-slide">
              <picture class="about__image-wrapper">
                <source srcset="img/slides_career/parrots2.webp" type="image/webp">
                <img src="img/slides_career/parrots2.jpg" alt="" loading="lazy">
              </picture>
            </li>

            <li class="career__image-item swiper-slide">
              <picture class="about__image-wrapper">
                <source srcset="img/slides_career/giraffe2.webp" type="image/webp">
                <img src="img/slides_career/giraffe2.jpg" alt="" loading="lazy">
              </picture>
            </li>

            <li class="career__image-item swiper-slide">
              <picture class="about__image-wrapper">
                <source srcset="img/slides_career/giraffes.webp" type="image/webp">
                <img src="img/slides_career/giraffes.jpg" alt="" loading="lazy">
              </picture>
            </li>

            <li class="career__image-item swiper-slide">
              <picture class="about__image-wrapper">
                <source srcset="img/slides_career/leo2.webp" type="image/webp">
                <img src="img/slides_career/leo2.jpg" alt="" loading="lazy">
              </picture>
            </li>

            <li class="career__image-item swiper-slide">
              <picture class="about__image-wrapper">
                <source srcset="img/slides_career/meerkat.webp" type="image/webp">
                <img src="img/slides_career/meerkat.jpg" alt="" loading="lazy">
              </picture>
            </li>

            <li class="career__image-item swiper-slide">
              <picture class="about__image-wrapper">
                <source srcset="img/slides_career/flamingos.webp" type="image/webp">
                <img src="img/slides_career/flamingos.jpg" alt="" loading="lazy">
              </picture>
            </li>

            <li class="career__image-item swiper-slide">
              <picture class="about__image-wrapper">
                <source srcset="img/slides_career/zebra.webp" type="image/webp">
                <img src="img/slides_career/zebra.jpg" alt="" loading="lazy">
              </picture>
            </li>

            <li class="career__image-item swiper-slide">
              <picture class="about__image-wrapper">
                <source srcset="img/slides_career/elephant.webp" type="image/webp">
                <img src="img/slides_career/elephant.jpg" alt="" loading="lazy">
              </picture>
            </li>
          </ul>
          <div class="career__slider-pagination swiper-pagination"></div>
        </div>
      </div>
  </div>
</section>
