<header class="header">
  <div class="container header__container">
    <img class="header__logo" src="img/logo.svg" alt="Оранжевый логотип PrettyPaw">

    <nav class="header__nav navigation">
      <ul class="navigation__list">
        <li class="navigation__item">
          <a class="navigation__link navigation__link_active" href="/index.html">
            Главная
          </a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#about">
            О зоосаде
          </a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#history">
            История
          </a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#deeds">
            Добрые дела
          </a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#career">
            Карьера
          </a>
        </li>
      </ul>

      <button class="navigation__button" aria-label="Открыть меню"></button>
    </nav>
  </div>
</header>
