<section class="location">
  <h2 class="visually-hidden">Локация зоопарка</h2>

  <ul class="location__list">
    <li class="location__item">
      <h3 class="location__title">
        Млекопитающие
      </h3>
      <p class="location__description">
        В эту группу входят животные, которые питаются молоком в раннем возрасте и обладают механизмом регуляции телевой температуры. В нашем зоосаде можно увидеть млекопитающих, таких как львы, тигры, слоны и обезьяны.
      </p>
    </li>
    <li class="location__item">
      <h3 class="location__title">
        Птицы
      </h3>
      <p class="location__description">
        Эта группа включает в себя разнообразных пернатых обитателей зоопарка, от маленьких певчих птиц до больших драпированных птиц хищников. В нашем зоосаде можно увидеть таких птиц, как фламинго, аисты, орлы и павлины.
      </p>
    </li>
    <li class="location__item">
      <h3 class="location__title">
        Рептилии
      </h3>
      <p class="location__description">
        В эту группу входят животные, которые имеют чешуйчатую кожу и обладают приспособлениями для жизни на суше или в воде. В нашем зоосаде можно увидеть таких рептилий, как крокодилы, змеи, черепахи и ящерицы.
      </p>
    </li>
    <li class="location__item">
      <h3 class="location__title">
        Водный мир
      </h3>
      <p class="location__description">
        В эту группу входят животные, которые живут в воде или зависят от воды для выживания. В нашем зоосаде можно увидеть разнообразных рыб, дельфинов, китов, акул и других водных животных.
      </p>
    </li>
    <li class="location__item">
      <h3 class="location__title">
        Насекомые
      </h3>
      <p class="location__description">
        В эту группу входят разнообразные насекомые, такие как бабочки, жуки, муравьи и пчелы. В нашем зоосаде можно увидеть различных беспозвоночных и насекомых.
      </p>
    </li>
  </ul>
</section>
