// base
$font-family: "Mulish", sans-serif;
$content-width: 1170px;
$container-offset: 16px;
$container-width: calc($content-width + ($container-offset * 2));

// colors
$back: #ffaa05;
$main: #000;
$second: #fff;

@mixin sm {
  @media (min-width: 576px) {
    @content;
  }
}

@mixin md {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin lg {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin xl {
  @media (min-width: 1240px) {
    @content;
  }
}

@mixin xxl {
  @media (min-width: 1600px) {
    @content;
  }
}
